/* id */
#header {
    background-color:lightblue;
    text-align:left;
    padding:5px;
}
#leftpanel {
    line-height:30px;
    background-color:whitesmoke;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
    vertical-align: top;
}

#mainarea {
    background-color: white;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

#footer {
    background-color: lightblue;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

/* class */
.bottom {
    position: absolute;
    bottom: 0;
}

.right {
    position: absolute;
    right:0;

}

/* tag */
td {
    position: relative;
    width: 200px;
}


.address {
    font-size: 12px;
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.bgclr2 {
    font-size: 12px;
    font-style: normal;
    background-color: #C0C0C0;
    padding-top: 2px;
    padding-bottom: 2px;

}

td.bgclr1 {
    font-size: 12px;
    font-style: normal;
    background-color: #F0F0F0;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.bgwhite {
    font-size: 12px;
    font-style: normal;
    background-color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
}

td.smallfont {
    font-size: 12px;
    font-style: normal;
    font-family: Sans-serif;
    color: #404040;
    padding-top: 2px;
    padding-bottom: 2px;
}

tr.smallfont {
    font-size: 12px;
    font-style: normal;
    font-family: Sans-serif;
    color: #404040;
    padding-top: 2px;
    padding-bottom: 2px;
}

.smallfont {
    font-size: 12px;
    font-style: normal;
    font-family: Sans-serif;
    color: #000000;
    padding-top: 2px;
    padding-bottom: 2px;
}

.smallfontred {
    font-size: 12px;
    font-style: normal;
    font-family: Sans-serif;
    color: #FF0000;
    padding-top: 2px;
    padding-bottom: 2px;
}

