/* id - unique in page */
#header {
    background-color:lightblue;
    text-align:left;
    padding:5px;
}
#leftpanel {
    line-height:30px;
    background-color:whitesmoke;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
    vertical-align: top;
}

#mainarea {
    background-color: white;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

#footer {
    background-color: lightblue;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

/* class */
.bottom {
    position: absolute;
    bottom: 0;
}

.right {
    position: absolute;
    right:0;

}

.removable_options {
    font-family: Sans-serif;
    color: #606060;
    font-size: small;
}

.protein_view {
    -webkit-columns: 430px 2; /* Chrome, Safari, Opera */
    -moz-columns: 430px 2; /* Firefox */
    columns: 430px 2;
}

.odd_line {
    background-color: lightgray;
}

/* tag */
td {
    position: relative;
    width: 200px;
}


.address {
    font-size: 12px;
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 2px;
}

