/* id - unique in page */
#header {
    background-color:lightblue;
    text-align:left;
    padding:5px;
}
#optionpanel {
    line-height:30px;
    background-color:whitesmoke;
    height:300px;
    width:200px;
    float:left;
    padding:5px;
    vertical-align: top;
}

#mainarea {
    background-color: white;
    width:90%;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

#footer {
    background-color: lightblue;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

/* class */
.bottom {
    position: absolute;
    bottom: 0;
}

.right {
    position: absolute;
    right:0;

}

.removable_options {
    font-family: Sans-serif;
    color: #606060;
    font-size: small;
}

.protein_view {
    -webkit-columns: 430px 2; /* Chrome, Safari, Opera */
    -moz-columns: 430px 2; /* Firefox */
    columns: 430px 2;
}

.odd_line {
    background-color: ghostwhite;
}

.scrollable {
    overflow-y: auto;
    height: 600px;
}

.small_font_bold {
    font-family: Sans-serif;
    font-size: small;
    font-weight: bold;
}

/* tag */
td {
    position: relative;
}

th {
    text-align: left;
    vertical-align: text-bottom;
}

.address {
    font-size: 12px;
    font-style: italic;
    padding-top: 2px;
    padding-bottom: 2px;
}

p.content-res {
     display: none;
}

/* For interaction map */
path.link {
     fill: none;
     stroke: #666;
     stroke-width: 1.5px;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}


#pairwise_list div {
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
    background-color: steelblue;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;
}

/* for slider */
div.ui-slider-range.ui-widget-header {
    background: #0000ff;
}